<div class="row">
    <div class="col-12">
      <hr class="mt-5 mb-4 border-secondary-subtle">
      <div class="d-flex gap-2 gap-md-4 flex-column flex-md-row justify-content-md-end">
        <a href="/register" class="link-secondary text-decoration-none">Create new account</a>
        <a href="/forget-password" class="link-secondary text-decoration-none">Forgot password</a>
      </div>
    </div>
  </div>

</div>
</div>
</div>
</div>
</div>
</section>
</body>
</html>