<div class="social-auth-links text-center mb-3">
    <p class="mb-1">
      <a href="/forgot-password">Forgot password?</a>
    </p>
    <p class="mb-0">
      Don't have account?<a href="/register" class="text-center"> Register</a>
    </p>
  </div>
  <!-- /.social-auth-links -->
</div>
<!-- /.login-card-body -->
</div>
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="./assets/vendor/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="./assets/vendor/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="./assets/vendor/dist/js/adminlte.min.js"></script>
<!-- Font awesome -->
<script src="https://kit.fontawesome.com/cd31aca100.js" crossorigin="anonymous"></script>
</body>
</html>
