
<%- include("_forgot-header.ejs") -%>
      <form action="/recover-account" method="post">
        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="Username">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Request new password</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

<%- include("_forgot-footer.ejs")-%>